{% extends 'dashboard/base.html' %}

{% block title%}Dashboard: Product List {% endblock title %}
{% block content %}
  <h3>Product List </h3>
<table class="table table-bordered">
<thead>
    <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Images</th>
    <th>Stock</th>
    <th>Price</th>
    <th>Update</th>
    <th>Delete</th>
    </tr>
   </thead>
   <tbody>
       <tr class="success">
      {% for product in products %}
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td><img src="{{product.image.url}}" height="30px" width="30px" /></td>
        <td>{{product.stock}}</td>
        <td>{{product.price}}</td>
        <td><a href="{% url  'dashboard:product_update' product.id%}"><span class="glyphicon glyphicon-pencil"></span></a></td>
        <td><a href="{% url  'dashboard:product_delete' product.id%}"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
        </tr>
      {% endfor %}
      </tbody>
</table>
<a href="{% url  'dashboard:add_product' %}"><h5><span class="glyphicon glyphicon-plus"></span>Add Product</h5></a>
{% endblock content %}
